@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*nav*/
nav {
    background-color: #3d3d3d;
    height: 120px;
    width: 100%;  
    text-align: justify;  
    padding-left: 10%;
}
nav h1 {
    padding-top: 23px;
    color: #ffffff;
    font-size: 27px;
}
nav p {
    color: #ffffff;
    font-size: 9px;
    font-weight: 200;
}
nav, li {
    float: left;
    list-style: none;
    padding-top: 1em;
}
.rotate{
    animation: rotation 6s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
/*contenido*/
.container{
    display: flex;
    margin: auto;
    width: 80%;
}
section {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 120px;
    position: fixed;
    width: 30%;
}
form{
    justify-content: center;
    align-items: center;
    margin: 3em 2em 2em 1em;
    width: 30%;
}
input[type=text], textarea {
    border: none;
    border-radius: 4px;
    border-bottom:3px solid #53c1de;
    font-size: 27px;
    font-weight: 700;
    overflow: visible;
    width: 100%;
}
textarea{
    margin-top: 1em;
    font-size: 18px;
    font-weight: 300;
}
.btn {
    background-color: #ffffff;
    border:3px solid #53c1de;
    border-radius: 10px;
    font-size: 27px;
    font-weight: 700;
    margin-top: 5px;
    padding-top: 10px;
    width: 100%;
}
.btn li {
    display: inline;
}
.btn:hover, .btn:active {
    background-color: #53c1de;
    color:#ffffff; 
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 70%;
}
button{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
/*img sprites!*/
.react{
    background-image: url('images/ui_sprite.png');
    background-position: top right;
    height: 100px;
    width: 100px;
}
.add {
    background-image: url('images/ui_sprite.png');
    background-position-x: -100px;
    background-position-y: 43px; 
    height: 50px;
    width: 50px;
}
.clip {
    background-image: url('images/ui_sprite.png');
    background-position: bottom right; 
    height: 50px;
    width: 50px;
}
.delete {
    background-image: url('images/ui_sprite.png');
    height: 50px;
    width: 50px;
}
.delete-inactive {
    background-image: url('images/ui_sprite.png');
    background-position-x: -50px;
    height: 50px;
    width: 50px;
}
.edit {
    background-image: url('images/ui_sprite.png');
    background-position-y: center;
    height: 50px;
    width: 50px;
}
.edit-inactive {
    background-image: url('images/ui_sprite.png');
    background-position-x: -50px;
    background-position-y: -50px;
    height: 50px;
    width: 50px;
}
.done {
    background-image: url('images/ui_sprite.png');
    background-position-y: bottom;
    height: 50px;
    width: 50px;
}
.done-inactive {
    background-image: url('images/ui_sprite.png');
    background-position-x: -50px;
    background-position-y: bottom;
    height: 50px;
    width: 50px;
}